<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body>
    <div class="container">
      {% for article in object_list %}
        <a href="{{ article.url }}">
          <div class="row card" style="padding: 30px;">
            <p>Title: {{ article.title }}</p>
            <p>Published_at : {{ article.published_at }}</p>
          </div>
        </a>      
      {% endfor %}
    </div>
  </body>
</html>